/* css du header et du footer */

/* généralité */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

#headerImg{
    background-image: url(./pictures/header//images6.jpg);
    height: 30vh;    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;



}

/* footer */

footer{
    background-color: rgb(2, 255, 23);
}
.iconImg{
    width: 3em;height: 3em;
}
footer img{
    width: 100%;
    border-radius: 50%;
}