/* nav */

nav{
  background: #4FF216;
}

/* section #sliderShow */
/* forme de mon carousel */

#sliderShow {
  width: 100%;
  height: 20em;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .slider {  
    position: relative;
    width: 700%;
    animation: picts 14s linear infinite;
  }
  figure {
    display: inline-block;
    width: 30em;
    /* height: 20em; */
    /* width: 100%; */
  }
  .image {
    width: 100%;
    height: 17em;
  }
  figcaption {
    position: relative;
    background: #4FF216;
    color: black;
    text-align: center;
    height: 3em;
    font-size: 1.5em;
    padding: .4em;
    bottom: 0.2em;
  }
  
  /* fin de forme de carousel */

  /* animation du carousel */

  @keyframes picts {
    from {
      left: 0;
    }
  
    0%,
    4% {
      left: 0;
    }
  
    16%,
    20% {
      left: -100%;
    }
  
    32%,
    36% {
      left: -200%;
    }
  
    48%,
    52% {
      left: -300%;
    }
  
    64%,
    68% {
      left: -400%;
    }
  
    80%,
    84% {
      left: -500%;
    }
  
    100%,
    96% {
      left: -600%;
    }
  
    to {
      left: -600%;
    }
  }
  
  /* fin d'animation du carousel */

  /* section #discribe*/

    /* étiquettes */
.label{
  width: 10em;height: 3em;
  background: #4FF216;
  margin: 1em auto;
}
.elipse{
  width: 10em;height: 3em;
  background: #D9D9D9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
    /* A propos */
#apropos{
  display: flex;
  align-items: center;
  flex-direction: column;
}
#apropos p,
#park p,
#team p{
  text-align: center;
  margin: 2em auto;
}
  /* notre parc, notre équipe, reservation */

.pict{
  width: 90%;
  margin: 1em auto;
}
#park img,
#team img{
  width: 100%;
  border-radius: 50%;
}
#team img{
  margin-top: 6em;
}
#reservation{
  margin: 2em auto;
  width: 90%;height: 5em;
  border-radius: 50%;
  background: #4FF216;
  font-size: 1.8em;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* #reservation p{
  width: 100%;
} */

        /* Responsive desktop*/

@media screen and (min-width:576px){
  

    /* section #sliderShow */
  #sliderShow{
    width: 60em;
    height: 40em;
    margin: 0 auto;
  }
  figure{
    width: 60em;
  }
  .image{
    height: 34em;
  }
  figcaption{
    height: 3em;
    font-size: 4em;
  }
    /* section discribe */
  .label{
    width: 20em;height: 6em;
  }
  .elipse{
    width: 20em;height: 6em;
  }
  .elipse h3{
    font-size: 2em;
  }
  #apropos{
    display: block;
    width: 70%;
    margin: 3em auto;
  }
  #apropos p,
  #park p,
  #team p{
    font-size: 3em;
  }
    /* notre parc, notre équipe, reservation */
  #park{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #team{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .pict{
    width: 45%;
  }
  .left,
  .right{
    width: 45%;
    padding-top: 2em;
  }
  #reservation{
    height: 10em;
    font-size: 5em;
  }
  

}