/* css du header et du footer */

/* généralité */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style-type: none;
}
ul li:hover{
    background: #2ead00;
    cursor: pointer;
}

/* header */

#login a:hover{
    color: #2ead00;
    cursor: pointer;
}
#headerImg{
    background-image: url(http://localhost/Thalasso-Zen/assets/pictures/header/images6.jpg);
    height: 30vh;    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#logo{
    position: absolute;
    top: 0; 
    color: #4FF216; 
}
h1 span{
    text-align: center;
}
#login{
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    color: #4FF216;
}
#login a{
    color: #4FF216;
    
}

/* nav */

nav{
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav ul{
    display: flex;
}
nav li{
    padding: 10em 0.2em;
    margin: 0 0.3em;
}

/* footer */

footer{
    background: #4FF216;
    height: 40vh;
    font-size: 1em;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
footer ul{
    margin: 1em;
}

footer li{
    padding: 1em;
}
.iconImg{
    width: 3em;height: 3em;
    margin: 0.5em;
}
footer img{
    width: 100%;
    border-radius: 50%;
}

.social{
    padding: 1em;
    align-items: center;
}

                 /* Responsive */

@media screen and (min-width:576px){

    /* header */
  #headerImg{
    height: 50vh;
  }
  #logo{
    font-size: 4em;
  }
  #login{
    font-size: 3em;
  }

  /* nav */
  nav{
    height: 5em;
    font-size: 1.5em;
  }
  nav li{
    margin: 0 2em;
    padding: 2em
  }

  /* footer */
  footer{
    height: 25vh;
    display: block;
}
footer ul{
    display: flex;
    justify-content: space-around;
}
footer li{
    font-size: 1.5em;
}

.social{
    display: flex;
    justify-content: center;
}
.social p{
    font-size: 2em;
}
.iconImg{
    width: 5em;height: 5em;
    margin: 1em;
}

}